# Ignore virtual environments
.venv/
env/
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore data (optional – only if you don’t want raw dataset in repo)
data/

